$color-default: #000;
$color-title: #363130;

%ms-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

%ms-black {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #363130;
}